# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly set text files to use LF line endings
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Binary files should be treated as binary
*.png binary
*.jpg binary
